body {
    background-color: #f7f7f7;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
    color: #3a3a3a;
}

main {
    margin-top: 15vh;
}

.nav-item {
    font-weight: bold;
    margin: 0 30px;
}

.nav-link {
    color: #000 !important;
}

/** Search **/

input.expanding-search {
    outline: none;
}

input.expanding-search[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    float: right;
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNMTUuNSAxNGgtLjc5bC0uMjgtLjI3QzE1LjQxIDEyLjU5IDE2IDExLjExIDE2IDkuNSAxNiA1LjkxIDEzLjA5IDMgOS41IDNTMyA1LjkxIDMgOS41IDUuOTEgMTYgOS41IDE2YzEuNjEgMCAzLjA5LS41OSA0LjIzLTEuNTdsLjI3LjI4di43OWw1IDQuOTlMMjAuNDkgMTlsLTQuOTktNXptLTYgMEM3LjAxIDE0IDUgMTEuOTkgNSA5LjVTNy4wMSA1IDkuNSA1IDE0IDcuMDEgMTQgOS41IDExLjk5IDE0IDkuNSAxNHoiLz4NCiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+DQo8L3N2Zz4=") no-repeat 9px center;
    padding: 9px 14px 9px 32px;
    width: 55px;
    -webkit-border-radius: 12em;
    -moz-border-radius: 12em;
    border-radius: 12em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input.expanding-search:-moz-placeholder {
    color: transparent;
}

input.expanding-search::-webkit-input-placeholder {
    color: transparent;
}

.feature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.technology-product {
    border: 1px solid #7e7e7e;
    border-radius: 50%;
    padding: 40px;
    /* background-color: #fff; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.technology-link {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.product-logo {
    width: 100px;
}

.use-cases {
    border: 1px solid #7e7e7e;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.use-case-link {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.industries {
    margin-top: 15vh;
}

.industry-link, .industry-link:hover {
    color: #000;
    font-weight: bold;
}