/** fonts **/

@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('fonts/SofiaProSemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProRegular-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('fonts/SofiaProSemiBold-Italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProMedium-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProUltraLight-Italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProExtraLight-Italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProLight-Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProBlack-Italic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProUltraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProBold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Sofia Pro';
    margin: 0;
    padding: 0;
}

a {
    outline: 0;
 }

.navbar {
    background-color: #000;
}

.menu-area {
    position: static;
}

.mega-area {
    position: absolute;
    background-color: #000;
    color: #F5F6F8;
    padding-left: 200px !important;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
    background-image: url('img/stripes.svg');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 100%;
    background-size: 15%;
}

.dropdown-item {
    padding: 5px 0;
    color: #F5F6F8;
}

.dropdown-item:hover {
    background-color: transparent !important;
    color: #FF5C01 !important;
}

.menu-column-title {
    color: #1978A6;
    font-weight: bold;
    font-size: 17px;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

.navbar-collapse {
    margin-left: -120px;
}

.navbar-nav>li {
    padding-left: 40px;
    padding-right: 40px;
}

.nav-link {
    color: #F5F6F8 !important;
    font-size: 1 rem;
}

.nav-link:hover, .nav-link.active {
    color: #FF5C01 !important;
}

.nav-link:after {
    content: '';
    display: block;
    height: 1.5px;
    background: #FF5C01;
    transform: scaleX(0);
    transition: transform .3s;
}

.nav-link:hover:after, .nav-link.active:after {
    transform: scaleX(1);
    transition: transform .3s;
}

.btn-cta {
    background-color: #1978A6;
    border-radius: 30px;
}

#hero {
    position: relative;
    background-color: rgb(39, 39, 39);
    min-height: 80vh;
}

.slideshow-container {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 20px;
}

.djital-slideshow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    text-align: center;
    color: #fff;
}

.slideshow-link {
    text-decoration: none;
}

.slideshow-link:hover {
    text-decoration: none;
}

.slideshow-technology, .slideshow-technology:hover {
    color: #1978A6;
}

.slideshow-usecase, .slideshow-usecase:hover {
    color: #FF5C01;
}

.ct-btn-scroll {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

/** Animations **/

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}